<h1>Name: <%= @user.name.titlecase %></h1>
<h2>DOB: <%= @user.date_of_birth %></h2>
<h3> ID: <%= @user.id%></h3>
<p> <%= @user.bio %> </p>

<% @posts.each do |post|%>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= "#{@user.first_name} #{@user.last_name}" %></h5>
    <p class="card-text"> <%= post.body %></p>
  </div>
</div>
<% end %>