<p id="notice"><%= notice %></p>

<h1>Users Blocks</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Blocked</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_blocks.each.with_index(1) do |users_block, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= users_block.blocked.name %>
        <td><%= link_to 'Destroy', destroy_block_path(users_block.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users Block', new_block_path, class: 'btn btn-primary' %>
