<h1>Posts</h1>
<h2><%= "#{current_user.first_name} #{current_user.last_name}" %></h2>
<li>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
</li>

<%= form_for(@post) do |f| %>
<%= f.text_area :body %>
<%= f.submit "Post" %>
<% end %>

<% @posts.each do |p| %>
<div class="card mx-auto" style="width: 50%;">
    <div class="card-body">
        <h5 class="card-title"><%= p.name %></h5>
        <p class="card-text"><%= p.body %></p>
    </div>
</div>
<% end %>
